* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(20, 20, 21);
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 40px auto;
    max-width: 1160px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    text-align: center;
    box-sizing: border-box;

    transition: 600ms;
    cursor: pointer;
}

.card img{
    max-width: 100%;
    border-radius: 8px;
    aspect-ratio: 6/9;
    filter: opacity(70%);

    transition: 600ms;
}

.card:hover {
    scale: 1.1;

    box-shadow: 0px -0px 100px 100px rgba(0,0,0,0.1);
    
    h3 {
        color: #fff;
    }

    img {
        filter: opacity(100%);
    }
}

.card h3{
    margin-top: 8px;
    color: #ccc;
}

@media screen and (max-width: 1250px) {

    .container {
        max-width: 920px;
    }
}

@media screen and (max-width: 1050px) {

    .container {
        max-width: 680px;
    }
}
@media screen and (max-width: 800px) {

    .container {
        max-width: 440px;
    }
}
@media screen and (max-width: 550px) {

    .container {
        max-width: 200px;
    }
}